<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <add name="task1_get_parameters" path="/" verb="GET" type="firstLab.task1"/>
      <add name="task2_post_parameters" path="/" verb="POST" type="firstLab.task2"/>
      <add name="task3_put_parameters" path="/" verb="PUT" type="firstLab.task3"/>
      <add name="task4_sum_parameters" path="/task4" verb="POST" type="firstLab.task4"/>
      <add name="task5_mult_parameters" path="/task5" verb="*" type="firstLab.task5_6"/>
      <add name="task0_sockets" path="/socket" verb="*" type="firstLab.websockets"/> 
    </handlers>
  </system.webServer>
</configuration>